body{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(19, 116, 116);

}

.login-form{
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8 );
    color: white;
    text-align: center;
    border-radius: 20px;
    font-size: 2rem;

}

.header h3 {
    padding: 30px;
}
.login-form input[type="text"],
.login-form input[type="password"]{
    border: 1px solid white;
    background: none;
    padding: 9px;
    color: white;
    margin: 30px auto;
    text-align: center;
    width: 170px;
    border-radius: 20px;
    outline: none;
}
.login-form input[type="submit"]{
    padding: 7px 20px;
    background: none;
    outline: none;
    color: white;
    width: 70px;
    border-radius: 20px;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus{
    border: 1px solid rgb(128, 0, 122);

}
.login-form[type="submit"]:hover{
    border: 0px;
    color: rgb(128, 0, 122);
    box-shadow: 3px 3px 8px rgb(128, 0, 122);
}
